{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Update Article{% endblock %}

{% block style %}
    <style>
        .articles{
            width:700px;
            margin:auth;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt-5 articles">
        <form action="" method="post" novalidate>
            {{update_article_form | crispy}}
            {% csrf_token %}

            <input type="submit" value="Update Article" class="btn btn-success">

    </div>

{% endblock %}